<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <header class="d-flex flex-column align-items-center">
        <img class="m-2" src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="">
        <h3 class="mb-0 pb-0">{{ weather.location }}</h3>
        <h5 class="mt-0 pt-0">{{ weather.temp_c }}° {{ weather.condition }}</h5>
    </header>
    <article class="container">
        <div class="row justify-content-center">
            {% for p in pokemon %}
            <div class="card col-sm-2 m-2" style="width: 15rem;">
                <div class="card-body text-center">
                    <img src="{{ p.sprites.front_default }}" alt="..." class="w-50">
                    <p class="card-title">{{ p.name }}</p>
                    <a href="pokemon/{{p.name}}" class="btn btn-success">Ver</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>